# Ignore Python virtual environments
venv/
pycache/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore environment-specific files
*.env
*.idea/
.vscode/